/* css reset start */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   line-height: normal;
}

label {
   display: inline-block;
}

button {
   border-radius: 0;
   background-color: transparent;
   border: none;
}

button:focus:not(:focus-visible) {
   outline: 0;
}

input,
button,
select,
optgroup,
textarea {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}

input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible {
   outline: none;
}

button,
select {
   text-transform: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* css reset end */

.icon svg,
.icon img {
   width: 100%;
   height: auto;
   flex-shrink: 0;
}

.center-y {
   top: 50%;
   transform: translateY(-50%);
}

.card-image {
   aspect-ratio: 266/400;
}

.card:hover {
   cursor: pointer;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), rgba(8, 41, 53, 0.55);
}


@media screen and (min-width: 1400px) {
   .container {
      max-width: 1248px !important;
   }
}