@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   html {
      @apply scroll-smooth;
   }

   body {
      @apply font-primary font-normal text-white;
   }
   /* Buttons */
   .btn {
      @apply relative flex items-center justify-center rounded-[10px] border px-6.5 font-bold py-5 outline-none transition duration-300;
   }
   .btn-lg {
      @apply px-7 py-5 text-base max-w-[300px] w-full;
   }
   .btn-sm {
      @apply px-2.5 py-1.5 text-xs;
   }
   .btn[disabled] {
      @apply cursor-not-allowed opacity-60;
   }

   .btn-primary {
      @apply border-primary bg-primary text-white hover:bg-primary-100 hover:border-primary-100 active:scale-[99%];
   }
   .btn-outline {
      @apply border-white border-solid border text-white hover:border-primary hover:bg-primary hover:text-white;
   }

   .btn-dark {
      @apply border-dark bg-dark text-white shadow-dark/60;
   }

   .btn-outline-dark {
      @apply border-dark text-dark shadow-none hover:bg-dark hover:text-white;
   }

   /* Form */

   .form-control {
      display: flex;
      flex-direction: column;
   }

   .form-input,
   .form-textarea,
   .form-select,
   .form-multiselect {
      @apply w-full rounded-[10px] border border-transparent bg-dark-200 px-5 py-3.5 text-sm text-white placeholder:text-white transition-all duration-300 !outline-none focus:border-white focus:border focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white-800 dark:focus:border-primary;
      /* @apply w-full rounded-[10px] border-none bg-dark-200 px-5 py-3.5 text-sm text-white placeholder:text-white transition-all duration-300 !outline-none focus:border-dark-200 focus:border focus:bg-white focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white-800 dark:focus:border-primary; */
   }

   .form-error {
      @apply mt-3 text-danger text-sm
   }

   .form-input-lg,
   .form-textarea-lg,
   .form-select-lg,
   .form-multiselect-lg {
      @apply py-2.5 text-base;
   }
   .form-input-sm,
   .form-textarea-sm,
   .form-select-sm,
   .form-multiselect-sm {
      @apply py-1.5 text-xs;
   }
   label {
      @apply block;
   }

   .has-error .form-input,
   .has-error .form-textarea,
   .has-error .form-select,
   .has-error .form-multiselect,
   .has-error .multiselect__tags {
      @apply border-danger text-danger bg-danger/[0.08] placeholder-danger/70 focus:border-danger;
   }
   .has-error .form-label,
   .has-error .form-help,
   .has-error .form-icon,
   .has-error .multiselect__placeholder {
      @apply text-danger;
   }
   .has-error .multiselect__input {
      @apply bg-[#F7ECF0] !placeholder-danger/70;
   }
   .has-error .multiselect__tags:hover,
   .has-error .form-checkbox {
      @apply border-danger;
   }

   .has-success .form-input,
   .has-success .form-textarea,
   .has-success .form-select,
   .has-success .form-multiselect,
   .has-success .multiselect__tags {
      @apply border-success text-success bg-success/[0.08] placeholder-success/70 focus:border-success;
   }
   .has-success .form-label,
   .has-success .form-help,
   .has-success .form-icon,
   .has-success .multiselect__placeholder {
      @apply text-success;
   }
   .has-success .multiselect__input {
      @apply bg-[#F7ECF0] !placeholder-success/70;
   }
   .has-success .multiselect__tags:hover {
      @apply border-success;
   }

   /* checkbox & radio */
   .form-radio,
   .form-checkbox {
      @apply h-[17px] w-[18px] border-0 cursor-pointer rounded bg-dark-200 text-info transition duration-300 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] disabled:cursor-not-allowed disabled:bg-[#eee]
      dark:border-[#253b5c] dark:checked:border-transparent dark:disabled:bg-[#1b2e4b];
   }

   .form-radio {
      @apply rounded-full;
   }

   .form-radio.outline-primary:checked {
      @apply border-primary bg-transparent bg-none;
   }
   .form-radio.outline-secondary:checked {
      @apply border-secondary bg-transparent bg-none;
   }
   .form-radio.outline-success:checked {
      @apply border-success bg-transparent bg-none;
   }
   .form-radio.outline-danger:checked {
      @apply border-danger bg-transparent bg-none;
   }
   .form-radio.outline-warning:checked {
      @apply border-warning bg-transparent bg-none;
   }
   .form-radio.outline-info:checked {
      @apply border-info bg-transparent bg-none;
   }
   .form-radio.outline-dark:checked {
      @apply border-dark bg-transparent bg-none;
   }

}

/* swal2 */
.swal2-container .swal2-close {
   @apply text-white hover:text-dark-100 focus:shadow-none;
}

.swal2-container .swal2-popup.swal2-toast {
   @apply bg-dark py-2.5 px-5;
}

.swal2-popup.swal2-toast .swal2-title,
.swal2-container .swal2-popup.swal2-toast .swal2-html-container {
   @apply text-white;
}
.swal2-container .swal2-popup.swal2-toast.color-primary {
   @apply bg-primary;
}

.swal2-container .swal2-popup.swal2-toast.color-secondary {
   @apply bg-secondary;
}

.swal2-container .swal2-popup.swal2-toast.color-warning {
   @apply bg-warning;
}
.swal2-container .swal2-popup.swal2-toast.color-info {
   @apply bg-info;
}
.swal2-container .swal2-popup.swal2-toast.color-danger {
   @apply bg-danger;
}
.swal2-container .swal2-popup.swal2-toast.color-success {
   @apply bg-success;
}
